@media (max-width: 739px) {
  .bio-wrapper {
    width: 100vw;
    min-height: 100vh;
    background-image: url("../img/CoverforBio_Mobile-1.png");
    background-repeat: no-repeat;
    background-size: 150% 100%;
    background-attachment: scroll;
    background-position: top;
    padding-bottom: 2rem;
    padding-top: 4rem;
  }

  .bio-wrapper {
    max-height: 100vh;
  }

  .item-wrapper {
    width: 90%;
    margin-top: 0;
    margin-bottom: 4rem;
  }

  .brand-information .brand-avatar {
    width: 30%;
  }

  .brand-information .brand-name {
    font-size: 1.4rem;
  }

  .brand-link_wrapper ul {
    margin: 1rem 0;
    margin-bottom: 0rem;
  }

  .brand-link_item li {
    min-width: auto;
    width: 90%;
  }

  .brand-link_item li a {
    padding: 1rem 0;
    margin-bottom: 0.8rem;
  }

  .brand-link_item li a img {
    width: 12%;
    margin-left: 0.3rem;
    left: 0;
  }

  .brand-link_item li:nth-child(5) a span,
  .brand-link_item li:nth-child(6) a span {
    padding-left: 1rem;
  }

  .brand-link_item li a span {
    font-size: 0.8rem;
    padding-left: 1.8rem;
    font-weight: 600;
  }

  .brand-link_icons ul li {
    margin: 0.5rem 1rem;
    font-size: 1.4rem;
  }

  .brand-information .brand-content {
    font-size: 1.2rem;
  }

  .overlay-open-share .modal {
    width: 90%;
    padding: 1rem 1rem 5rem 1rem;
  }

  .overlay-open-share .modal .content-top {
    padding: 0 0 1rem 0;
  }

  .modal-body {
    padding: 1rem 0.5rem;
    flex-direction: column;
  }

  .flip-card {
    width: 40%;
    height: 130px;
  }

  .modal-body .modal-link-wrapper a {
    justify-content: space-evenly;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
  }

  .modal-body .modal-link-wrapper {
    width: 80%;
    margin-top: 1rem;
  }

  .copy-input {
    flex: 0;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-overflow: ellipsis;
    max-width: 50%;
  }
  .icon-link-copy {
    left: 8%;
  }

  .copy-wrapper {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copy-button {
    padding: 0.6rem 1.5rem;
  }

  .modal-body .modal-link-wrapper a svg {
    margin-right: 1.5rem;
  }
}

@media (max-width: 1023px) {
}

@media (min-width: 740px) and (max-width: 1024px) {
  .item-wrapper {
    width: 80%;
    margin-top: 0;
  }

  .brand-information .brand-avatar {
    width: 15%;
  }

  .brand-link_item li a {
    padding: 1.5rem 0;
  }

  .brand-link_item li a img {
    width: 9%;
  }

  .brand-link_icons ul li {
    margin: 0.5rem 1rem;
    font-size: 1.6rem;
  }

  .overlay-open-share .modal {
    width: 60%;
  }
}
